@media screen and (max-width:600px) {


    nav ul {
        flex-direction: column;
        display: none;
        top: -100%;
    }

    .menu-btn {
        display: block;
    }

    .banner-section {
        height: auto;
    }

    .banner-section div>div {
        flex-direction: column;
    }

    .banner-container h3 {
        font-size: 2rem;
    }

    .popular-section {
        flex-direction: column;
        gap: 5px;
    }

    .box-1,
    .box-2,
    .box-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .choose-us-card-container {
        flex-direction: column;
        align-items: center;
    }

    .section-news-letter {
        flex-direction: column;
    }

    .input-subscribe input[type="text"],
    input[type="email"] {
        padding: 1rem 5rem 1rem 1rem;
    }

    .btn-subscribe {
        padding: 1rem 5rem 1rem 5rem;
    }

    .save-card {
        width: auto;
        height: auto;
        font-size: 1rem;
        padding: .75rem;
        /* border: none; */
        text-align: center;
        top: 40%;
        left: 40%;
    }
}