@media screen and (max-width:576px) {

    nav ul {
        /* display: flex; */
        flex-direction: column;
        display: none;
        top: -100%;
    }

    .menu-btn {
        display: block;
    }

    .banner-section {
        height: auto;
    }

    .banner-section div>div {
        flex-direction: column;
    }

    .banner-container h3 {
        font-size: 2rem;
        /* padding-top: 2rem; */
    }

    .popular-section {
        flex-direction: column;
        gap: 5px;
    }
}